.grid {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.linkPagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px; 
}

.linkPagination a{
    color: green;
 
}